@model COC.Models.RegisterViewModel
@{
    ViewBag.Title = "GetUser";
}
<div class="sb2-12">
    <ul>
        <li>
            <img src="~images/placeholder.jpg" alt="">

            <h5>@Model.Email <span></span></h5>
        </li>
        <li></li>
    </ul>
</div>