@model COC.Models.CountData
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Index</h2>

<!--== BODY INNER CONTAINER ==-->
<div class="sb2-2">
    <!--== breadcrumbs ==-->
    <div class="sb2-2-2">
        <ul>
            <li>
                <a href="index-2.html"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            </li>
            <li class="active-bre">
                <a href="/Admin"> Dashboard</a>
            </li>
            <li class="page-back">
                <a href="index-2.html"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
            </li>
        </ul>
    </div>
    <!--== DASHBOARD INFO ==-->
    <div class="sb2-2-1">
        <h2>Admin Dashboard</h2>
        <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>
        <div class="db-2">
            <ul>
                <li>
                    <div class="dash-book dash-b-1">
                        <h5>News</h5>
                        <h4>@Model.NewsCount</h4>
                    </div>
                </li>
                <li>
                    <div class="dash-book dash-b-2">
                        <h5>Event</h5>
                        <h4>@Model.EventCount</h4>
                    </div>
                </li>
                <li>
                    <div class="dash-book dash-b-3">
                        <h5>Photos</h5>
                        <h4>@Model.PhotoCount</h4>
                    </div>
                </li>
                <li>
                    <div class="dash-book dash-b-4">
                        <h5>Users</h5>
                        <h4>@Model.UserCount</h4>
                    </div>
                </li>
            </ul>
        </div>
    </div>
     @{
      await Html.RenderPartialAsync("GetUserDash");
  }

   
  
    <!--== User Details ==-->
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp">
                    <div class="inn-title">
                        <h4>Google Map</h4>
                        <p>Education is about teaching, learning skills and knowledge.</p>
                    </div>
                    <div class="tab-inn">
                        <div class="table-responsive table-desi tab-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6290413.804893654!2d-93.99620524741552!3d39.66116578737809!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880b2d386f6e2619%3A0x7f15825064115956!2sIllinois%2C+USA!5e0!3m2!1sen!2sin!4v1469954001005" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
