@model COC.Models.UsersinRoleViewModel
@{
    ViewBag.Title = "SearchAdmin";
   
}

@using ((Html.BeginForm("SearchAdminData", "Admin", FormMethod.Post)))
{
    @Html.AntiForgeryToken()

    <div class="col-md-6 col-sm-6 mob-hide">
        <form class="app-search">
            @Html.EditorFor(model => Model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Search" } })
            <input type="submit" value="Search Course" class="fa fa-search">

           
        </form>
    </div>

}

